@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background: url('/public/img/fondoForm.jpg') no-repeat center center fixed;
    background-size: cover;   
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.logo-Huerto {
    width: 150px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.title-page {
    font-size: 26px;
}

.menu {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 20%;
}

.logoTienda {
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
}

.infoTienda {
    margin-top: 40px;
}

.containerInfo {
    background-color: #fff;
    padding-bottom: 20px;
    padding-left: 25px;
    border-radius: 10px;
}

.tamannoGrid a {
    color: white;
    text-decoration: none;
}

.tamannoGrid a:hover {
    color: aqua; 
}

.titulo-productos {
    text-align: center;
    color: white;
    font-size: 48px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.divSesion {  
    max-width: 500px; 
    margin: 50px auto; 
    padding: 20px;
    background: #fff; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
}

.contenedor {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 15px;              
}

.carrusel {
    width: 600px;          
}

.miniaturas {
    display: flex;
    flex-direction: row;    
    justify-content: center;
    gap: 10px;              
    width: 100%;           
    margin: 0;             
}

.miniaturas img {
    width: 100px;           
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    object-fit: cover;
}

.carruselImg {  
    height: 400px;        
}

.colorSecundario {
    color: #18851d;
}

.imgGrid {
    width: 100%;           
    height: 200px;         
    object-fit: cover;    
}

.tamannoGrid {
    margin-top: 20px;
    margin-bottom: 40px;
}

.imgCarrito {
    width: 85px;
    height: 60px;
}

.colorDiv {
    background-color: transparent;
}

.descripcion {
    background-color: white;
    padding-bottom: 20px;
    padding-left: 25px;
    border-radius: 10px;
    height: 350px;
}

.tabla{
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: inline-block;
}